@tailwind base;
@tailwind components;
@tailwind utilities;

@property --progress {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 0%;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.card {
  @apply col-span-6 lg:col-span-3 mb-12 lg:mb-40;
}

.display-grid .card:nth-child(9n + 1) {
  @apply col-span-full lg:col-span-9;
}

.display-grid .card:nth-child(9n + 1) figure {
  @apply aspect-video;
}

.display-grid .card:nth-child(9n + 2) {
  @apply self-end;
}

.display-grid .card:nth-child(9n + 5) {
  @apply lg:col-span-6;
}

a {
  @apply hover:text-primary
}

.donut-chart {
  --bar-width: 1rem;
  transition: --progress 500ms linear;
  background: conic-gradient(
    var(--color-dark),
    var(--color-dark) var(--progress),
    var(--color-dark-glare) 0%
  );
  @apply w-full aspect-square grid place-items-center rounded-full bg-[conic-gradient(#236bdc,_#236bdc_var(--progress),_#dceefd_0%)]
}

.donut-chart::after {
  content: attr(aria-valuenow) "%";
  width: calc(100% - var(--bar-width));
  @apply grid place-items-center aspect-square bg-white rounded-full text-2xl font-bold;
}